@page "/"
@using PizzaStore.Data
@inject db_connection db_connection
@inject Cart Cart

<PageTitle>Pizza store</PageTitle>

<h1>МЕНЮ</h1>

<CartComponent PizzaList="@db_connection.pizzas"></CartComponent>